* {
  padding: 0;
  margin: 0 ;
  box-sizing: border-box;
}

.content-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  height: 100vh;
  /* background-color: rgb(248, 248, 248); */
  background-color: white;
  display: grid;
  grid-template-columns: minmax(300px, 450px) 700px;
  padding: 30px;
  gap: 20px;
}

.form-container, .preview-container {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}

.form-container label, .form-container input, textarea {
  display: block;
  width: 100%;
}


/* Preview */

.preview-container {
  font-size: 12px;
  color: rgb(24, 24, 24);
  /* A3 paper aspect ratio: 700px * 1.414 = 989px */
  height: 989px;
  background-color: white;
}

.preview-container img {
  width: 15px;
  position: relative;
  top: 3px;
  margin-right: 5px;
}

.preview-container .phone img {
  top: 4px;
  left: 2px;
}

.preview-personal-info {
  background-color: #0e374e;
  color: #fff;
  text-align: center;
  padding: 20px 0px;
  margin-bottom: 20px;
}

.preview-personal-info .phone, .preview-personal-info .email {
  display: inline-block;
}

.preview-container .phone {
  margin-left: 25px;
}

.preview-container .preview-personal-info p {
  margin-top: 6px;
}

.preview-container h2 {
  text-align: center;
  background-color: #f4f4f4;
  color: #0e374e;
  padding: 5px;
  border-radius: 2px;
  margin-bottom: 20px ;
  margin-top: 20px;
}

.preview-summary, .preview-skills, .preview-education, .preview-experience {
  padding: 0px 30px;
}

.preview-skills .skill-entries {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.preview-skills .skill-entries p {
  background-color:#fbfbfb;
  padding: 2px 10px;
  white-space: nowrap;
  border-radius: 2px;
}

.education-entry {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.education-entry .school-name-preview {
  font-size: 14px;
  font-weight: 600;
}


.experience-entry {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 10px;
  align-items: center;
}

.preview-experience-description {
  grid-column: 2;
}

.preview-company-name {
  font-size: 14px;
  font-weight: 600;
}

.preview-position {
  font-style: italic;
}


/* Form */

.form-container {
  height: max-content;
  padding: 20px;
  border-radius: 10px;
}

.form-container button {
  width: 100%;
  margin-bottom: 20px;
  border: none;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #f4f4f4;
}

.form-container input {
  outline: none !important;
  height: 30px;
  border-radius: 6px;
  border: none;
  padding: 0px 5px;
  background-color: #f4f4f4;
  font-size: 16px;
  color: rgb(44, 44, 44);
  margin-bottom: 20px;
  max-width: 400px;
} 

.form-container input:focus {
  border: solid 1px blue;
}

.form-container label{
  font-size: 14px;
}

.spoiler .arrow {
 transition: 0.3s ease;
}

.spoiler {
  overflow: hidden;
  transition: max-height 1s ease;
}

.spoiler button {
  display: flex;
  justify-content: space-between;
}

.content-wrapper {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 1s ease;
  padding: 0px 15px;
}

.spoiler.opened button {
  background-color:#e1e1e1;
}

.spoiler.opened .content-wrapper {
  max-height: 2000px;
}

.form-container textarea{
  font-family: inter, system-ui, avenir, helvetica, arial, sans-serif ;
  margin-bottom: 20px;
  outline: none;
  border: none;
  color: rgb(44, 44, 44);
  background-color: #f4f4f4;
  padding: 0px 5px;
  font-size: 16px;
}

.form-container textarea:focus{
  outline: none;
  border: solid 1px blue;
}

.skill-input {
  display: flex;
  gap: 10px;
}

.skill-input button {
  background-color: #f6f4f4 !important;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.skill-input button:hover {
  background-color: #ededed !important;
}

.summary-and-skills label {
  margin-bottom: 20px;
}

.add-entry-button {
  background-color:  #f6f4f4 !important;
  transition: 0.2s;
  width: max-content !important;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px !important;
}

.add-entry-button:hover {
  background-color: rgb(206, 253, 206) !important;
}

.education .content-wrapper button,
.experience .content-wrapper button {
  background-color: #f8f8f8;
  height: 30px;
  align-items: center;
  transition: 0.2s;
}

.education .content-wrapper button img,
.experience .content-wrapper button img{
  display: none;
}

.education .content-wrapper button:hover,
.experience .content-wrapper button:hover{
  background-color: #ecedff;
}

.education .content-wrapper .delete-entry img,
.experience .content-wrapper .delete-entry img {
  display: block;
}

.education .content-wrapper .delete-entry,
.experience .content-wrapper .delete-entry {
  justify-content: center !important;
  width: max-content !important;
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
}

.education .content-wrapper .delete-entry:hover, 
.experience .content-wrapper .delete-entry:hover {
  background-color: rgb(250, 190, 190);
}


.content-wrapper .spoiler.opened {
  border: solid 1px rgb(193, 193, 193);
  border-radius: 10px;
  margin-bottom: 20px;
}

.education-entry-form,
.experience-entry-form {
  padding: 0px 10px;
}

.clear-resume, .export-button {
  transition: 0.3s;
  font-size: 14px !important;
}

.clear-resume:hover {
  background-color: rgb(227, 80, 80);
  color: white
}

.export-button:hover {
  background-color: rgb(74, 150, 74);
  color: white;
}
